.recipesGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 20px 0;
    .recipe{
        background: #eee;
        border-radius: 10px;
        max-height: 400px;
        text-overflow: clip;
            overflow: hidden;
        img{
            object-fit: cover;
            width: 100%;
            height: 50%;
            border-radius: 10px 10px 0 0;
        }

        .content-head{
            padding: 0 10px;
            display: flex;
            justify-content:space-between;
            align-items: center;
            h2{
                font-size: 18px;
            }
            .timer{
                font-weight: 600;
                position: relative;
                &::before{
                    content:'';
                    background: url(../img/timer.svg) no-repeat;
                    background-size: cover;
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    position: absolute;
                    left: -30px;
                    top: 12px;
                }
            }
        }
        .card-content{
            padding: 0 10px;
            display: flex;
            align-items: top;
            justify-content: space-between;
            .ingredients, .description{
                font-size: 12px;
                width: 47%;
            }
            .description{
                padding: 0;
                margin: 0;
            }
        }
    }
}